.principal{
    background-image: url("https://radiobomsucesso.com.br/wp-content/uploads/2018/07/estudantes.jpg");
    background-attachment: fixed;
    position: relative;
    min-height: 100vh;
}

.form-div {
    background: rgba(0, 0, 0, 0.7);
    min-height: 100vh;
}

#formulario {
    width: 400px;
    padding: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    background: rgba(255, 255, 255, 0.04) !important;
    box-shadow: -1px 4px 28px 0px rgba(0,0,0,0.85) !important;
}

.form-alunos {
    height: 600px;
}

.form-login {
    height: 450px;
}

.icon-principal span.fa{
    font-size: 50px;
    color: #fff;
    margin-bottom: 1em;
}

.icon-ipt{
    margin: 0 0 1em;
    padding: .8em 1em;
    background: rgba(255, 255, 255, 0.94);
}

.validation {
    font-weight: bold;
}

input {
    display: inline-block;
    background: transparent;
    border: none;
    outline: none;
    letter-spacing: 1px;
    color: #222;
}

.checkbox {
    color: #fff;
    letter-spacing: 1px;
}

button[type='submit']{
    margin-top: 20px;
    background-color: #007cc0;
    color: #fff;
    font-size: 15px;
    text-transform: uppercase;
    padding: .8em 2em;
    letter-spacing: 1px;
    display: inline-block;
    outline: none;
    border: none;
    width: 100%;
}

button[type='submit']:focus{
    outline: 0;
}